
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login-container {
    width: 80%;
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-left {
    width: 30%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: url("../../../assets/image/Login.svg") no-repeat center;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}

.logo-ig {
    width: 250px;
    height: auto;
}

.blood-ig {
    width: 300px;
    height: auto;
}

.login-form {
    background: white;
    padding: 30px 50px;
    border-radius: 0px 15px 15px 0px;
    width: 70%;
    height: 100%;  
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header h1  {
   font-size: 30px;
   color: #E22B28;
   font-weight: 500;
}
.login-header p{
    font-size: 20px;
    color: #163C86;
}

.login-title{
    margin-top: 70px;
}

.login-title .title{
    font-size: 28px;
    font-weight: 600;
    color: #1e3a8a;
    margin-bottom: 20px;
}


.login-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    width: 60%;
}

.login-group label {
    font-weight: 400;
    margin-bottom: 5px;
    color: #333;
}

.custom-input {
    background-color: white;
    border: 1px solid #2f80ed;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    
}
.login-button {
    width: 40%;
    text-align: center;
    padding: 10px;
    background-color: #2f80ed;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin-top: 30px;
}

.login-button:hover {
    background: #1b4dff;
}

